.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  }
  
  #test {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  ion-card {
  background: none;
  width: auto;
  height: auto;
  }
  
  ion-input {
  background: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  color: #555;
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  ion-item {
  --background: none;
  --background-activated:none;
  --background-activated-opacity: 1;
  --background-focused: none;
  --background-focused-opacity: 1;
  --background-hover: none;
  --background-hover-opacity: 1;
  }
  
  #test2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  box-shadow: none;
  }
  
  .marge {
  margin: 30px;
  }
  
  #size {
  height: auto;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }